@charset "ISO-8859-1";
table {
	margin: 0px auto;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 50%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.languageForm {
	margin: 25px auto;
	display: flex;
	flex-direction: column;
	width: 200px;
}

.languageForm > h1 {
	margin: 0px auto;
}

.languageForm > input, .languageForm > textarea {
	margin: 0px auto;
	margin-bottom: 20px;
}

.languageForm > p {
	display: flex;
	flex-direction: column;
}

.error {
	color: red;
}

.actions {
	display: flex;
}

.actions > form {
	margin-left: 15px;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttons > form {
	margin-left: 20px;
}